aws_region = "ap-northeast-1"
aws_access_key = "<your access key>"
aws_secret_key = "<your secret key"
default_vpc_name = "gitlab-vpc"
default_vpc_cidr = "10.0.0.0/16"
default_public_a = "10.0.0.0/24"
default_public_c = "10.0.2.0/24"
default_private_a = "10.0.1.0/24"
default_private_c = "10.0.3.0/24"
default_iam_name = "gitlab-iam"
default_gw_name = "gitlab-gateway"
default_elb_name = "gitlab-loadbalancer"
default_elb_sg_name = "gitlab-loadbalancer-sec-group"
default_ec2_sg_name = "gitlab-ec2-sec-group"
default_rds_sg_name = "gitlab-rds-sec-group"
default_rds_group_name = "gitlab-rds-group"
default_certificate_arn = "<your certificate arn>"
default_db_username = "gitlab-db-ha"
default_db_password = "gitlab"
default_redis_sg_name = "gitlab-redis-sec-group"
default_redis_group_name = "gitlab-redis-group"

